<div class="alert alert-dark">
    <header class="container-md container-xl container-sm container-lg fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="head-content">
                <p class="h3 display-5">About Me!</p>
                <ul>
                    <li><a routerLink="/dashboard">Home</a></li>
                    <li><a routerLink="/images/image-list">Gallery</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a routerLink="/admin">Admin</a></li>
                </ul>
            </div>
            <hr class="border-bottom">
        </nav>
    </header>

    <div class="container text-justify">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, quo, magnam delectus eius
            voluptatibus error sunt
            soluta cumque deleniti totam pariatur a? Aperiam itaque nostrum tenetur provident! Consequuntur, ipsam iste!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda unde in consectetur odit,
            consequatur provident
            fuga voluptatibus expedita, voluptatem rerum odio quaerat dicta eos consequuntur! Sed placeat cumque quaerat
            quasi,
            tempora animi magnam similique fugit nulla accusantium. Id dolorem voluptate recusandae vero dignissimos
            iste aliquam
            pariatur tenetur officiis beatae. Aperiam dolor et magnam, asperiores velit quos? Magnam laudantium,
            accusamus nesciunt
            sit placeat impedit pariatur! Ex quidem cupiditate sed soluta consequatur tempora incidunt? Placeat,
            corrupti possimus et
            assumenda necessitatibus esse maiores quam officiis dignissimos. Consectetur quod dolorum quaerat pariatur
            ducimus nam
            amet itaque illo? Delectus ratione cumque, repellendus provident enim veniam velit omnis excepturi, nemo
            commodi quisquam?
            Similique ipsam vel deleniti harum illo recusandae provident esse porro, obcaecati debitis iste soluta
            perspiciatis non,
            laudantium ad delectus ratione consectetur amet, fugiat voluptatum ducimus. Nulla numquam repellendus saepe
            eius excepturi,
            consectetur soluta quod officia dignissimos cupiditate. Pariatur odit laudantium quibusdam earum! Voluptate
            eius ab sed
            atque quos, voluptas ut voluptates iure quas, ea voluptatem! Est aperiam repudiandae officia itaque dolores
            quos nulla,
            unde quod voluptate ipsa a voluptatem beatae dicta vero at enim laborum suscipit maiores placeat nam ratione
            maxime
            repellendus optio. Quasi eum quos quam facilis laboriosam? Quasi ipsum quia neque.
        </p>

        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, quo, magnam delectus eius
            voluptatibus error sunt
            soluta cumque deleniti totam pariatur a? Aperiam itaque nostrum tenetur provident! Consequuntur, ipsam iste!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda unde in consectetur odit,
            consequatur provident
            fuga voluptatibus expedita, voluptatem rerum odio quaerat dicta eos consequuntur! Sed placeat cumque quaerat
            quasi,
            tempora animi magnam similique fugit nulla accusantium. Id dolorem voluptate recusandae vero dignissimos
            iste aliquam
            pariatur tenetur officiis beatae. Aperiam dolor et magnam, asperiores velit quos? Magnam laudantium,
            accusamus nesciunt
            sit placeat impedit pariatur! Ex quidem cupiditate sed soluta consequatur tempora incidunt? Placeat,
            corrupti possimus et
            assumenda necessitatibus esse maiores quam officiis dignissimos. Consectetur quod dolorum quaerat pariatur
            ducimus nam
            amet itaque illo? Delectus ratione cumque, repellendus provident enim veniam velit omnis excepturi, nemo
            commodi quisquam?
            Similique ipsam vel deleniti harum illo recusandae provident esse porro, obcaecati debitis iste soluta
            perspiciatis non,
            laudantium ad delectus ratione consectetur amet, fugiat voluptatum ducimus. Nulla numquam repellendus saepe
            eius excepturi,
            consectetur soluta quod officia dignissimos cupiditate. Pariatur odit laudantium quibusdam earum! Voluptate
            eius ab sed
            atque quos, voluptas ut voluptates iure quas, ea voluptatem! Est aperiam repudiandae officia itaque dolores
            quos nulla,
            unde quod voluptate ipsa a voluptatem beatae dicta vero at enim laborum suscipit maiores placeat nam ratione
            maxime
            repellendus optio. Quasi eum quos quam facilis laboriosam? Quasi ipsum quia neque.
        </p>
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, quo, magnam delectus eius
            voluptatibus error sunt
            soluta cumque deleniti totam pariatur a? Aperiam itaque nostrum tenetur provident! Consequuntur, ipsam iste!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda unde in consectetur odit,
            consequatur provident
            fuga voluptatibus expedita, voluptatem rerum odio quaerat dicta eos consequuntur! Sed placeat cumque quaerat
            quasi,
            tempora animi magnam similique fugit nulla accusantium. Id dolorem voluptate recusandae vero dignissimos
            iste aliquam
            pariatur tenetur officiis beatae. Aperiam dolor et magnam, asperiores velit quos? Magnam laudantium,
            accusamus nesciunt
            sit placeat impedit pariatur! Ex quidem cupiditate sed soluta consequatur tempora incidunt? Placeat,
            corrupti possimus et
            assumenda necessitatibus esse maiores quam officiis dignissimos. Consectetur quod dolorum quaerat pariatur
            ducimus nam
            amet itaque illo? Delectus ratione cumque, repellendus provident enim veniam velit omnis excepturi, nemo
            commodi quisquam?
            Similique ipsam vel deleniti harum illo recusandae provident esse porro, obcaecati debitis iste soluta
            perspiciatis non,
            laudantium ad delectus ratione consectetur amet, fugiat voluptatum ducimus. Nulla numquam repellendus saepe
            eius excepturi,
            consectetur soluta quod officia dignissimos cupiditate. Pariatur odit laudantium quibusdam earum! Voluptate
            eius ab sed
            atque quos, voluptas ut voluptates iure quas, ea voluptatem! Est aperiam repudiandae officia itaque dolores
            quos nulla,
            unde quod voluptate ipsa a voluptatem beatae dicta vero at enim laborum suscipit maiores placeat nam ratione
            maxime
            repellendus optio. Quasi eum quos quam facilis laboriosam? Quasi ipsum quia neque.
        </p>
    </div>
</div>

<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>