<div class="card">
    <div class="card-body">
      <form [formGroup]="formTemplate">
        <div class="form-group">
          <img [src]="imgSrc" for="file" class="btn" (click)="fileUploader.click()"> 
          <input type="file" id="file" accept="image/*" #fileUploader class="form-control" formControlName="imageUrl" (change)="showPreview($event)">
          <div class="text-danger" *ngIf="formControls.imageUrl.errors?.required && !formControls.caption.pristine">Must upload some image before submitting</div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="caption" placeholder="Caption">
          <div class="text-danger" *ngIf="formControls.caption.errors?.required && !formControls.caption.pristine">Say some caption about image</div>
        </div>
        <div class="from-group">
          <select formControlName="category" class="form-control">
            <option value="Animal" selected>Animal</option>
            <option value="Wedding">Wedding</option>
            <option value="Vehicle">Vehicle</option>
          </select>
        </div>
        <div class="form-row p-3">
          <div class="form-group col-md-6">
            <a routerLink="/photos/image-list" class="btn btn-primary btn-block float-right"> Go to Gallery</a>
          </div>
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success btn-block float-right" (click)="onSubmit(formTemplate.value)" [disabled]="!formTemplate.valid">Submit</button>
          </div>
      </div>
      </form>
    </div>
  </div>
  
