<div class="alert alert-dark">
  <header class="container-md container-xl container-sm container-lg fixed-top">
    <div class="head-content">
      <p class="h3 display-5">Image Gallery</p>
      <ul>
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a routerLink="/images/image-list">Gallery</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a routerLink="/admin">Admin</a></li>
      </ul>
    </div>
  </header>

  <div class="container">
    <hr class="border-bottom">
    <router-outlet></router-outlet>
  </div>
</div>