img{
    max-width: 100%;
    height: 90%;
    object-fit: cover; 
}
.card-footer{
    width: 100%;
    height: 10%;
    object-fit: cover;
}
img {
    border-radius: 10px 10px 0px 0px;
}

.card {
    border-radius: 10px;
    height: 100%;
}

.show {
    display: none;
}

.show:hover,
img:hover+div>.show,
.card-footer:hover>.show {
    display: inline-block;
    cursor : pointer;
    padding: 4px;
}

.icon-bar {
    margin: -60px;
}

/* .show-image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

/* .outer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
} */

/* Create four equal columns that sits next to each other */
.inner {
    display: flex;
    flex-direction: row;
    flex: auto;
    max-width: 33%;
  }
  
  /* .inner img {
    margin-top: 8px;
    padding: 4px;
    vertical-align: middle;
    width: 100%;
  }
   */