img, .card{
    width: 100%;
    height: 95%;
    object-fit: cover;
}

img{
    border-radius: 10px 10px 0px 0px;
}

.card{
    border-radius: 10px;
}
.delete{
    display: none;
}

.delete:hover, img:hover + div > .delete{
    display:inline-block;
    cursor: pointer;
}