#showcase {
  background-image   : url('/assets/dashboardImg.jpg');
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  height             : 100vh;
}

.head-content {
  width      : 80%;
  margin     : auto;
  padding-top: 30px;
  font-size  : 1.3rem;
}